/**/build
/**/bin
/**/.settings
/**/.project
/**/.gradle
/**/.classpath
*.class
/build/
/bin/
build.gradle
gradle/wrapper/gradle-wrapper.properties
src/test/java/com/giridhari/preachingassistant/PreachingAssistantApplicationTests.java
